
body {
    background-color: grey;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#mainHead {
    /*When you use fixed position the divs will not be placed vertically anymore, they overlap!*/
    margin: auto !important;
    margin-top: 10px !important;
    text-align: center;
    background-color: black;
    width: 600px;
    padding: 30px;
    margin: 20px;
    padding-bottom: 10px;
}

h1 {
    color: wheat;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 30px;
}

h1:hover {
    color: lightsalmon;
}

#role {
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#welcomeStatement {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: whitesmoke;
}

#jumbotronContainer {
    margin-top: 0px;
}

.display-4 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: lightyellow;
  }

  /*Notice the space before the dot, right now it reaches all span tags inside the container classes, which in turn
  are inside the jumbotron classes.
  If you remove the space, it will instead look for elements having both the jumbotron and the container classes (also the span).*/
.jumbotron .container span {
    font-size: larger;
    margin-bottom: 10px;
}
