#blogCards {
    width: 18rem;
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(139, 165, 69);
}

#blogContainer h1 {
    text-align: center;
    margin-bottom: 30px;
}

#blogContainer {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 60px;
}

#blogContainer img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#blogContainer p {
    font-size: larger;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#blogContainer a:hover {
    text-decoration: none;
    color: gold;
}

#blogContainer a {
    color: black;
}

.formulas {
    display: block;
    margin: auto;
    text-align: center;
    color: blanchedalmond;
    font-size: larger;
}

pre code {
    display: block;
    background-color: white;
    font-size: medium;
    margin-left: 50px;
}