nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #0a0a23;
}

i {
  font-size: 45px;
  text-align: center;
  display: block;
  color: blue;
}

ul li {
   list-style: none;
   display: inline;
   padding: 0 100px;
}

li {
    float: left;
}