footer {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 0px;
    overflow: auto;
}

i {
  font-size: 45px;
  text-align: center;
  display: block;
}

footer ul li {
  text-align: center;
  display: block;
  margin: auto;
  padding: 50px;
  padding-left: 300px;
}

li {
    float: left;
}