nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #0a0a23;
}

ul li {
    list-style: none;
    display: inline;
}

li {
    float: left;
}

a:hover {
    text-decoration: none;
}

a {
    font-weight: 700;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
}
